* {

    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

:root {
    --primary-color: #1E2A37;
    --secondary-color: #141F2A;
    --blue-color: #30ACFF;
    --dark-text-color: #355270;
    --modal-bg: #0F1A25;
    --light-dark: rgba(42, 68, 95, 0.30);
}

body {
    margin: 0;
    height: 100vh;
    padding: 0;
    font-family: Roboto, sans-serif;
    background-color: #1E2A37;
}

a {
    text-decoration: none;
    color: #fff;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
}

.userInfoModal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 999;
    display: flex;
    justify-content: center;
    display: none;
    align-items: center;
}
.modal_content_body img{
    width: 400px;
}

.blur-background {
    position: absolute;
    top: 0;
    display: none;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(10px);
}

.modal-content {
    background-color: #0F1A25;
    border: 1px solid var(--color-blue-dark);
    border-radius: 5px;
    padding: 40px;
    box-shadow: 0px 0px 39px -6px rgba(55, 167, 253, 0.61);
    max-width: 1200px;
    width: 100%;
    display: none;
    max-height: 400px;
    height: 100%;
    position: relative;
    z-index: 1;
}

.modal_content_header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.default_text {
    color: #AACEF3;
    font-size: 14px;

}

.modal_header_text {
    display: flex;
    align-items: flex-end;
    gap: 5px;
}

.text_blue {
    color: #30ACFF;

}

.modal-content h1 {
    font-size: 32px;
}

p {
    margin: 0;
    padding: 0;
}

.text_center {
    text-align: center;
}

input {
    outline: none;
    background-color: transparent;
    border: 0;
    color: white;
    border: none;
}

.login_block {
    display: flex;
    gap: 40px;
    justify-content: right;
    align-items: center;
}

.autorized_user {
    padding: 10px 30px 5px 10px !important;
    background-color: #2E4762;
    color: white;
    border-radius: 5px;
}

.login_block:hover .profile-menu {
    display: block;
}

header {
    background-color: var(--secondary-color);
    padding: 10px;
    width: 100%;
    height: 6%;
}

.content_container.binding {
    display: flex;
    gap: 25px;


}

.m-auto {
    margin: auto;
}

.content {
    padding-top: 25px;
    padding: 10px 10px 0px 0px;
    width: 100%;
    display: flex;

    gap: 25px;
    flex-direction: column;
}

.content_card_header p {
    color: rgba(170, 206, 243, 0.90);
    font-family: Roboto;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-top: 4px;
}

.content_card {
    padding: 20px;
    background-color: var(--secondary-color);
    border-radius: 7px;

    width: 100%;

}

.loader {
    width: 20px;
    height: 20px;
    border: 5px solid #FFF;
    border-bottom-color: transparent;
    border-radius: 50%;
    display: inline-block;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
}

@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.text_success {
    color: #2D7645;

}

main {
    height: 94%;
    gap: 25px;
    display: flex;
}

button {
    cursor: pointer;
    border: none;
    color: rgba(255, 255, 255, 0.90);
    font-family: Roboto;
    font-size: 12px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

h2 {
    color: rgba(255, 255, 255, 0.90);
    font-family: Roboto;
    font-size: 20px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

.login_block .register {
    border-radius: 5px;
    border: 2px solid var(--color-blue-dark);
    color: var(--color-blue-dark);
    box-shadow: 0px 0px 4px 0px var(--color-blue-dark);
    padding: 10px;
}

.login_block .register:hover {
    transition: all 0.2s ease-in-out;
    box-shadow: 0px 0px 10px 0px var(--color-blue-dark);
}

.dataTables_info {
    display: none;
}

#user_table_filter {
    justify-content: right;
    display: flex;
}

.login_block img {
    position: relative;
    left: -20px;
}

aside {
    padding: 15px;
    max-width: 200px;
    width: 100%;
    display: flex;
    background: var(--secondary-color);
    flex-direction: column;
    justify-content: space-between;
}

aside li div:hover a {
    color: rgba(255, 255, 255, 0.90);
}

.content_card_header {
    width: fit-content;

    margin-bottom: 25px;
}

.border_orange {
    height: 2px;
    border-radius: 3px;
    background: #F39321;
}
.border_dark_blue{
    height: 2px;
    border-radius: 3px;
    background: #1C0CD4;
}
.border_red {
    height: 2px;
    border-radius: 3px;
    background: #FF3030;
}

.border_light_blue {
    background: #3CDCFF;
    border-radius: 3px;
    height: 2px;
}

.input_hint {
    width: 100%;
    color: rgba(255, 255, 255, 0.70);
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    display: flex;
    padding: 15px 0px;
    

}
.input_hint:not(:has(div)) input {
    border-radius: 4px;
}

.input_hint input{
    padding:10px;
    
    flex: 1;
    border-radius: 0px 3px 3px 0px;
    border: 1px solid #2A445F;
}
.input_hint div:nth-child(1) {
    min-width: 105px;

}
tbody .main_btn{
    padding: 4px 10px;
}


.slick-track img{
height: 400px !important;

    width: 400px !important;
}
.input_hint div {
    padding: 5px 15px; 
    border-radius: 3px 0px 0px 3px;
    background: #2A445F;
    justify-content: center;
    align-items: center;
    display: flex;
}
.input_hint div:nth-child(3){
    border-radius: 0px 3px 3px 0px;
    background: #2A445F;
    align-items: center;
    display: flex;
}
.input_hint:has(div + input + div) input {
    border-radius: 0px;
}
select{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}
.input_hint:has(div + select + div) select {
    border-radius: 0px;
    padding: 10px;
    flex: 1;
}
.border_green {
    height: 2px;
    border-radius: 3px;
    background: #2D7645;
}
.border_yellow {
    height: 2px;
    border-radius: 3px;
    background: #ffdc00;
}
.border_purple {
    height: 2px;
    border-radius: 3px;
    background: #9934FF;
}

label {
    color: rgba(255, 255, 255, 0.90);
    font-family: Roboto;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.content_inputs {
    display: flex;
    flex-direction: column;
    gap: 4px;
    margin-bottom: 25px;
}

.two_cards {
    display: flex;
    gap: 25px;
    flex-direction: column;
}

.border_blue {
    height: 2px;
    border-radius: 3px;
    background: #30ACFF;
}

.li_title {
    color: rgba(255, 255, 255, 0.30);
    font-family: Roboto;
    font-size: 10px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    padding: 10px;
}

aside nav {
    height: 90%;
}

h3 {
    color: rgba(255, 255, 255, 0.90);
    font-family: Roboto;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;

    line-height: normal;
}

.content_card_main {
    height: 100%;
}

.content_container_static_el {
    display: flex;
    gap: 25px;
    flex-direction: column;
    border-radius: 5px;

    width: 100%;
    padding: 14px 20px;
    gap: 12px;
    background-color: var(--blue-color);
}


.content_container.static {
    display: flex;
    gap: 25px;
}

.static_charts {
    display: flex;
    gap: 25px;
    width: 100%;
}

h4 {
    color: rgba(255, 255, 255, 0.90);
    font-family: Roboto;
    font-size: 10px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

h1 span {
    color: #FFF;
    font-family: Roboto;
    font-size: 10px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
}

h1 {
    color: #FFF;
    font-family: Roboto;
    font-size: 20px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
}

.dark_button {
    border-radius: 4px;
    background: rgba(42, 68, 95, 0.30);
    padding: 10px;
    width: 100%;
    color: rgba(255, 255, 255, 0.60);
    font-family: Roboto;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    display: flex;
    justify-content: center;
}

aside li a {
    color: rgba(255, 255, 255, 0.60);
    transition: all 0.2s ease-in-out;
    width: 100%;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

aside li div:hover {
    border-radius: 3px;
    background: rgba(42, 68, 95, 0.30);
}

aside li div {
    padding: 10px;
    transition: all 0.2s ease-in-out;
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
}

.main_input {
    border-radius: 3px;
    border: 0.5px solid var(--dark-text-color);
    background: var(--secondary-color);
    padding: 5px 15px;
    color: white;
    outline: none;

}
::placeholder{
    color: #2A445F;
}
.inpt_helper {
    color: var(--dark-text-color);
    font-family: Roboto;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.logo{
    display: flex;
    align-items: center;
    cursor: pointer;

}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.chat_header__title {
    color: #FFF;
    font-family: Roboto;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    text-align: center;
    width: 70%;
    line-height: normal;
}

.chat_header {
    border-bottom: 1px dashed rgba(42, 68, 95, 0.39);
    padding: 10px;
    display: flex;
    margin-bottom: 10px;

}

.chat_content {
    padding: 10px;
    display: flex;
    gap: 35px;
    height: 90%;

}

.chat_aside {
    padding: 10px;
    background-color: var(--light-dark);
    border-radius: 5px;
    max-width: 20%;

    width: 100%;
}

.chat_message {
    width: 80%;
    height: 100%;
}

.chat_message_content {
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: space-between;
}

.sender_message {
    width: 100%;
    display: flex;
    padding: 10px;
    border-radius: 5px;
    align-items: center;
    background-color: var(--light-dark);

}

.sender_message__input, .sender_message__input input {
    width: 100%;
}

.chat_message_content__item__text.right {
    justify-content: right;

}

.chat_message_content__item__text {
    display: flex;
    margin-bottom: 10px;
}

.chat_message_content__item__text div {
    color: rgba(170, 206, 243, 0.70);
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    width: fit-content;
    display: flex;

    font-weight: 400;
    border-radius: 4px 4px 4px 0px;
    background: rgba(42, 68, 95, 0.30);
    line-height: normal;
    padding: 5px;
}

.main_btn {
    border-radius: 3px;
    background: var(--blue-color);
    width: fit-content;
    height: fit-content;
    padding: 10px 14px;

}
.danger_btn {
    border-radius: 3px;
    background: #F83939;
    width: fit-content;
    height: fit-content;
    padding: 10px 14px;

}

.chat_aside_content {
    padding-top: 5px;
    display: flex;
    flex-direction: column;
}

.chat_aside_content a:hover {
    color: rgba(255, 255, 255, 0.80);
    transition: all 0.2s ease-in-out;
}

.chat_aside_content a {
    font-size: 12px;
    cursor: pointer;
    margin-bottom: 10px;
    color: rgba(255, 255, 255, 0.40);
}

.chat_aside_header h3 {
    color: rgba(255, 255, 255, 0.80);
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.chat {
    height: 100%;
}
.chat_aside_header {
    border-bottom: 1px dashed rgba(42, 68, 95, 0.39);
}

.main_btn:hover {
    transition: all 0.2s ease-in-out;
    opacity: 0.7;
}

.tag_success {
    padding: 2px;
    border-radius: 2px;
    background: #2D7645;
}

.td_text {
    max-width: 100px;
}

table {
    width: 100%;
}

table thead {
    border-bottom: 1px dashed #A1A1B880;
}

.table_logs th {
    text-align: center;
}

.table_logs td {
    border-top: none !important;
    padding: 5px;
    text-align: center;
}

table td {
    color: #AACEF3;
    font-family: Roboto;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    padding-top: 5px;
    border-top: 1px dashed rgba(161, 161, 184, 0.50);
    line-height: normal;
}

.text_orange {
    color: #F39321;
}

table th {
    color: var(--dark-text-color);
    font-family: Roboto;
    font-size: 12px;
    font-style: normal;
    text-align: left;
    font-weight: 700;
    line-height: normal;
}

.button_del:hover {

    background: rgba(220, 45, 45, 0.70);
    color: var(--secondary-color);
}

.button_del {
    padding: 2px 4px;
    transition: all 0.2s ease-in-out;
    border-radius: 2px;
    border: 0.3px dashed #DC2D2D;
    background: var(--secondary-color);
    color: rgba(220, 45, 45, 0.70);
    font-family: Roboto;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
.container_form {
    display: flex;  gap: 30px; align-items: center;
}
@media  (max-width: 1300px) {
    .content_container.binding{
        flex-direction: column;
    }
    .container_form{
        flex-direction: column;
    }

}
@media  (max-width: 767px) {
    main{
        flex-direction: column;
    }
    aside{
        max-width: 100%;
    }
    .errors_block{
        flex-direction: column;
    }
    .content_container.static, .static_charts{
        flex-direction: column;
    }
    .chat_header{
        flex-direction: column;
        gap: 20px;
    }
    .chat_aside{
        max-width: 100%;

    }
    .chat_content{
        flex-direction: column;
    }

}